@font-face {
  font-family: 'DiarySans-Light';
  src: url('DiarySans-Light.woff') format('woff'),
       url('DiarySans-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

